<html>
<header>
    <title>test</title>
</header>
<body>
    <h1 style='font-family: "Segoe UI"'>Form</h1>
    <form action="/luna/upload/" enctype="multipart/form-data" method="post">
        <input type="file" name="file">
        <input type="submit" value="send">
    </form>
</body>
</html>